.nav-link-icon {
    color: white !important; /* Sets the color of the icon and the link to white */
  }
  
  .nav-link-icon i {
    color: white; /* Explicitly target the <i> tags to ensure icons are white */
  }
  
  .nav-link-icon i:hover {
    color: #f0f0f0; /* Optional hover effect for icons */
  }
  
  /* Including specific media queries to distinguish desktop from tablet and mobile views*/
@media (max-width: 768px) {
    .nav-link-icon i {
      color:black !important; /* Reinforces black color for mobile and tablet */
    }
    .nav-link-inner--text {
        color: black !important; /* Titles are black on mobile and tablet */
      }
  }
  
  @media (min-width: 769px) {
    .nav-link-icon i {
      color: white; /* Reinforces white color for desktop */
    }
  }